/* Подключение шрифта Gilroy */
/* 
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
 */
/* 
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
 */
/* Стили обнуления */
@import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap&subset=cyrillic-ext");
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	line-height: 1;
	color: #000;
	/* padding: 10px 10px 50px 10px; */
}
.header {
	background-color: #d3d3d3;
	padding: 20px 30px 20px 30px;
	margin: 0;
}
.header__logo p {
	font-family: Caveat;
	font-size: 18px;
	font-weight: 500;
	border: 0;
}
.header__logo span {
	text-transform: uppercase;
}
.heading {
	font-size: 36px;
	max-width: 550px;
	padding: 0 50px 0;
	margin: 0 auto 15px;
}
.nav {
	display: block;
	max-width: 550px;
	padding: 0 40px 0;
	margin: 0 auto 0;
}
.nav__manu li {
	display: inline;
	margin: 0px;
	padding: 5px;
	line-height: 150%;
	color: #222831;
	text-transform: lowercase;
}
ol.properties {
	margin: 0px 0px -10px 0px;
}
.properties li {
	padding: 0px 0px 0px 35px;
	min-height: 19px;
	background: url("../img/check.png") 0 0 no-repeat;
	margin: 0px 0px 10px 0px;
}
.properties span {
	text-transform: uppercase;
}
span.red {
	color: #ff0000;
}
.title2,
.title3 {
	/* font-family: ;
	font-style: ;
	font-weight: ; */
	font-size: 23px;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	display: block;
	/* background-color: #d3d3d380; */
}
.title3 {
	text-align: left;
}
.title2 span,
.title3 span {
	text-transform: lowercase;
}
.block {
	display: inline-block;
	padding: 20px;
	margin-bottom: 5px;
	background-color: #e2c38a;
}
.block1 {
	display: block;
	padding: 20px;
	background-color: #9ab36d;
}
.block2 span {
	/* display: block; */
	/* margin: 20px; */
	padding: 20px;
	background-color: #53c0cc;
}
.main__bgi {
	background-image: url(../img/image.jpg);
	/* background-color: #d3d3d3; */
}
.main__bgc {
	background-color: rgba(255, 255, 255, 0.7);
}
.main__grad {
	background-image: linear-gradient(
		to bottom,
		rgba(236, 232, 157, 1) 0%,
		rgba(94, 83, 115, 1) 50%,
		rgba(24, 181, 164, 1) 100%
	);
}
.b__repeat,
.b__nrepeat,
.b__repeatx,
.b__repeaty,
.b__repeatsp,
.b__repeatro,
.b__position,
.b__positionc,
.b__positionl,
.b__positionbotright,
.b__positionposit {
	max-width: 550px;
	min-height: 200px;
	border: solid 3px rgb(95, 69, 155);
	border-radius: 5px;
	background-image: url(../img/avatar.jpg);
	/* background-repeat: repeat; */
}
.b__nrepeat {
	/* max-width: 700px;
	min-height: 200px;
	border: solid 3px rgb(95, 69, 155);
	border-radius: 5px;
	background-image: url(../img/avatar.jpg); */
	background-repeat: no-repeat;
}
.b__repeatx {
	/* max-width: 700px;
	min-height: 200px;
	border: solid 3px rgb(95, 69, 155);
	border-radius: 5px;
	background-image: url(../img/avatar.jpg); */
	background-repeat: repeat-x;
}
.b__repeaty {
	/* max-width: 700px;
	min-height: 200px;
	border: solid 3px rgb(95, 69, 155);
	border-radius: 5px;
	background-image: url(../img/avatar.jpg); */
	background-repeat: repeat-y;
}
.b__repeatsp {
	/* max-width: 700px;
	min-height: 200px;
	border: solid 3px rgb(95, 69, 155);
	border-radius: 5px;
	background-image: url(../img/avatar.jpg); */
	background-repeat: space;
}
.b__repeatro {
	/* max-width: 700px;
	min-height: 200px;
	border: solid 3px rgb(95, 69, 155);
	border-radius: 5px;
	background-image: url(../img/avatar.jpg); */
	background-repeat: round;
}
.syntax li {
	margin: 0 0 0 25px;
}
.b__position {
	margin: 20px 0 0 0;
	background-repeat: no-repeat;
}
.b__positionc {
	margin: 20px 0 0 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.b__positionl {
	margin: 20px 0 0 0;
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.b__positionbotright {
	margin: 20px 0 0 0;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
.b__positionposit {
	margin: 20px 0 0 0;
	background-repeat: no-repeat;
	background-position: 25px 30px;
}
.b__attascroll,
.b__attafixed {
	max-width: 600px;
	min-height: 150px;
	border: solid 3px #808874;
	margin: 15px auto 0;
	background-image: url("../img/image.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.b__attascroll {
	background-attachment: scroll;
}
.b__attafixed {
	background-attachment: fixed;
}
.b__attalocal {
	max-width: 600px;
	max-height: 150px;
	border: solid 3px #808874;
	margin: 15px auto 0;
	overflow: scroll;
	background-image: url("../img/image.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: local;
}

.b__sizeauto,
.b__sizewidth,
.b__sizeheight,
.b__sizewh,
.b__sizecont,
.b__sizecover,
.b__sizesize {
	max-width: 600px;
	min-height: 150px;
	border: solid 3px #808874;
	margin: 15px auto 0;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.b__sizeauto {
	background-size: auto auto;
}
.b__sizewidth {
	background-size: 100% auto;
}
.b__sizeheight {
	background-size: auto 100%;
}
.b__sizewh {
	background-size: 100% 100%;
}
.b__sizecont {
	background-size: contain;
}
.b__sizecover {
	background-size: cover;
}
.b__sizesize {
	background-size: 250px 150px;
}
