/* @font-face {
	font-family: "Tuesday Night";
	src: ("../TuesdayNight-Regular.woff2 ") format("woff2");
	src: ("../TuesdayNight-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
} */
@font-face {
	font-family: "Tuesday Night";
	src: url("../fonts/TuesdayNight-Regular.woff2") format("woff2"),
		url("../fonts/TuesdayNight-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap&subset=cyrillic-ext");

/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	line-height: 1;
	height: 100%;
	background: url(../img/bg_repeat.jpg);
	padding: 30px;
	color: rgb(0, 0, 0);
	background-color: #fff;
}
.canvas {
	background-color: #d3d3d3;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.header__logo {
	display: inline-block;
}
.header__logo p {
	font-family: "Tuesday Night", Caveat;
	font-size: 20px;
	/* text-shadow: 1px 1px 1px #000, -5px 3px 2px rgb(42, 42, 42); */
	line-height: 150%;
	margin: 20px 0 10px 10px;
	color: #000;
}
.header__logo span {
	text-transform: uppercase;
}
.lesson {
	display: inline-block;
	margin: 10px 0 0 35%;
	font-size: 40px;
}
.heading {
	text-align: center;
	font-size: 40px;
	margin: 0 0 15px;
}
.heading span {
	margin: 0 0 0 10px;
}
h2 {
	font-size: 40px;
	text-align: center;
}
h3 {
	margin: 0 0 10px 90px;
	font-size: 30px;
}
.hov__p {
	margin: 0 0 10px 30px;
	font-size: 21px;
}
.hov__p:hover {
	display: inline-block;
	font-size: 30px;
	background: rgb(255, 255, 255);
}
.hov__p1 {
	margin: 0 0 10px 20px;
	padding: 65px 0 0 0;
	text-align: center;
	letter-spacing: 1px;
	height: 150px;
	width: 250px;
	background: rgb(216, 129, 129);
}
.hov__p1:hover {
	border-radius: 50%;
	text-align: center;
	background: rgb(129, 141, 216);
}
.hov__p2 {
	padding: 65px 0 0 0;
	text-align: center;
	display: inline-block;
	visibility: hidden;
	background-color: rgb(250, 181, 142);
	letter-spacing: 1px;
	height: 150px;
	width: 250px;
}
.bloc__hov2 {
	margin: 0 0 10px 20px;
	display: inline-block;
	text-align: center;
}
.bloc__hov2:hover .hov__p2 {
	/* display: inline-block; */
	/* background-color: rgb(248, 250, 142); */
	letter-spacing: 1px;
	/* height: 150px;
	width: 250px; */
	visibility: visible;
}
.activ__p {
	margin: 0 0 10px 30px;
	font-size: 21px;
}
.activ__p1 {
	margin: 0 0 10px 20px;
	padding: 60px 0 0 0;
	font-size: 28px;
	text-align: center;
	letter-spacing: 1px;
	height: 150px;
	width: 250px;
	background-color: rgb(248, 250, 142);
}
.activ__p1:hover {
	border-radius: 50%;
	text-align: center;
	background: rgb(143, 216, 129);
}
.activ__p1:active {
	opacity: 0;
}
.visited__p,
.focus__p,
.target__p,
.p__target,
.fl__d,
.first__p,
.last__p,
.flfl__p,
.fltype__d,
.flnt__p,
.oddeven__p,
.firstl__p,
.firstll__p,
.beaf__p,
.befafte__d {
	font-size: 21px;
	margin: 0 0 10px 30px;
}
.vis__link {
	text-align: center;
}
.vis__link li {
	display: inline-block;
	margin: 0 0px 10px 30px;
	padding: 20px 0;
}
.vis__link li a {
	padding: 15px 30px;
	font-size: 30px;
	color: #000;
	outline: 2px solid #ff0000;
	background: #fff;
}
.a__focus:focus {
	outline: 2px solid #00ff00;
	/* color: #ff0000; */
	text-decoration: line-through #ff0000;
}
.open,
.close {
	color: #b8860b;
	display: inline-block;
	margin: 0 0 0 30px;
	font-size: 30px;
}
.text {
	font-size: 21px;
	background-color: #b8860b;
	padding: 20px;
	display: none;
}
.avimges {
	display: none;
}
.text:target {
	display: block;
}
.avimges:target {
	display: block;
	padding: 20px 20px 20px 30px;
}
.fl__child {
	margin-bottom: 15px;
}
/* .first__p,
.last__p,
.flfl__p,
.fltype__d,
.flnt__p,
.oddeven__p,
.firstl__p,
.firstll__p {
	font-size: 21px;
	margin: 0 0 10px 30px;
} */
.first__s {
	font-size: 30px;
	color: #ffa07a;
}
.last__s {
	font-size: 30px;
	color: #20b2aa;
}
.fl__d p:first-child {
	color: #ffa07a;
}
.fl__d p:last-child {
	color: #20b2aa;
}
.flfl__p *:first-child {
	display: inline-block;
	background-color: #ffa07a;
}
.flfl__p *:last-child {
	display: inline-block;
	background-color: #20b2aa;
}
.foftype__s,
.loftype__s {
	color: #d2691e;
	font-size: 30px;
}
.fltype__d p:first-of-type {
	color: #d2691e;
}
.fltype__d p:last-of-type {
	color: #d2691e;
}
.nthchild__s {
	font-size: 30px;
	color: #008000;
}
.nthtype__s {
	font-size: 30px;
	color: #ff4500;
}
.flnt__p p:nth-child(5) {
	color: #008000;
}
.flnt__p p:nth-of-type(4) {
	color: #ff4500;
}
.chodd__s {
	color: #0b02fa;
	font-size: 30px;
}
.cheven__s {
	color: #930101;
	font-size: 30px;
}
.oddeven__p p:nth-child(even) {
	color: #930101;
}
.oddeven__p p:nth-child(odd) {
	color: #0b02fa;
}
.firstll__p {
	max-width: 450px;
}
.firstl__s,
.beaf__s,
.beaf__li {
	font-size: 30px;
}
.firstll__p ::first-line {
	color: #ff0000;
}
.firstll__p ::first-letter {
	font-size: 40px;
	background-color: #ffffff;
	color: #000080;
}
.befafte__ul li {
	font-size: 21px;
	padding: 0 0 0 60px;
	margin: 0 0 10px 0;
}
.befafte__ul li::before {
	content: "";
	display: inline-block;
	vertical-align: center;
	margin: 0 0 0 -30px;
	width: 30px;
	height: 19px;
	background: url("../img/check.png") 0 0px no-repeat;
}
.befafte__d {
	width: 450px;
}
.befafte__d :first-of-type::before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 19px;
	background: url("../img/check.png") 0 0px no-repeat;
}
.befafte__d ::after {
	content: "";
	display: inline-block;
	width: 30px;
	height: 19px;
	background: url("../img/check.png") 0 0px no-repeat;
}
